html, body{
    margin: 0px;
    background-color: rgb(218, 23, 104);
    color: white;
}
.restart{
    padding: 10px 40px;
}
.cell {
    border: 1px solid #ccc;
    width: 100px;
    height: 100px;
    font-size: 36px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
  }

  #message {
    margin-top: 20px;
  }